/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Table View */
.table_view {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logs Header */
.logs-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logs-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.logs-count {
    font-size: 0.875rem;
    background-color: #f48c44;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.375rem;
}

/* Logs Description */
.logs-description {
    font-size: 1rem;
    color: #555;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Search Container */
.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Action buttons + pagination together */
.actions-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pagination-controls button {
    background-color: transparent; /* No background */
    border: white;
    padding: 0.5rem 0.65rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}

.pagination-controls button:hover {
    background-color: #ddd;
}

.pagination-controls button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}



/* Active page highlight */
.pagination-controls button.active {
    background-color: #f48c44;
    color: white;
    font-weight: bold;
    border-color: #f48c44;
}

.pagination-controls .nav-button {
    background-color: #FDF6EB;
    color: rgb(139, 139, 139);
    font-weight: bold;
    border-color: #f48c44;
}

.pagination-controls .nav-button:hover {
    background-color: #e67e22;
}

.search-bar {
    flex: 1;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 30rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;

}

.search-bar:focus {
    border-color: #4a90e2;
    outline: none;
}

.log-filter {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
}

/* Table Wrapper */
.logs-table-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

/* Table Styles */
.logs-table {
    width: 100%;
    table-layout: fixed; /* Ensures fixed column widths */
    border-collapse: collapse;
}

.logs-table th,
.logs-table td {
    width: auto; /* Or set specific widths as needed */
    padding: 0.75rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logs-table th:first-child,
.logs-table td:first-child {
    width: 30px; /* adjust as needed */
    min-width:  30px;
    max-width:  30px;
}

.logs-table th:nth-child(2),
.logs-table td:nth-child(2) {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.logs-table th:nth-child(3),
.logs-table td:nth-child(3) {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.logs-table th:nth-child(4),
.logs-table td:nth-child(4) {
    width: 120px;
    min-width: 120px;
    max-width:  120px;
}

.logs-table th:nth-child(5),
.logs-table td:nth-child(5) {
    width: 600px;
    min-width:600px;
    max-width: 600px;
}

.logs-table th:nth-child(6),
.logs-table td:nth-child(6) {
    width: 100px;
    min-width:100px;
    max-width: 100px;
}

.logs-table th:nth-child(7),
.logs-table td:nth-child(7) {
text-align: center;
}




.logs-table th {
    font-weight: 600;
    color: #989898;
}

.logs-table tr {
    border-top: 1px solid #ddd;
}

.logs-table tr:hover {
    background-color: #f1f1f1;
}

.image-small-rounded {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Checkbox and Delete Mode */
.logs-table td input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

.logs-table td.selected {
    background-color: #e0f7fa;
}

/* Floating Confirm Button */
.floating-confirm-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f48c44;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.floating-confirm-btn.show {
    display: block;
}

/* Buttons for Deleting and Cancelling */
button.delete-mode-btn {
    background-color: #f48c44;
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    transition: background-color 0.3s ease;
}

button.delete-mode-btn:hover {
    background-color: #e67e22;
}

button.cancel-delete-btn {
    background-color: #999;
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    transition: background-color 0.3s ease;
}

button.cancel-delete-btn:hover {
    background-color: #777;
}

/* Delete Button */
button.manage-button,
button.cancel-button {
    color: rgb(103, 103, 103);
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    transition: background-color 0.3s ease;
}



button.manage-button:hover {
    background-color: rgb(223, 223, 223);
}

/* Location */
.location-container {
    display: block;
}

.location-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-text {
    display: block;
    font-size: 0.9rem;
    color: gray;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Scrollbar Styling */
.logs-table-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.logs-table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.logs-table-wrapper::-webkit-scrollbar-thumb {
    background: #F48C44;
    border-radius: 4px;
}

.logs-table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #e67e22;
}

/* Delete Mode Styling */
.delete-mode-active .logs-table td input[type="checkbox"] {
    display: inline-block;
    margin-left: 10px;
}

.delete-mode-active .logs-table td.selected {
    background-color: #f7e6e5;
}

/* Floating Modal Styles */
.floating-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* move left AND move up by 50% */
    z-index: 2000;
  }

  .status-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }

  .status-modal-content {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    min-width: 280px;
    max-width: 400px;  /* reduced from 60% to fixed size */
    text-align: center;
    animation: popIn 0.3s ease;
  }
  
  .status-info-container {
    display: flex;
    align-items: center; /* Vertically align image and text */
    justify-content: flex-start; /* Align everything to the left */
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  
  .details-image-small {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0; /* Prevent image from shrinking */
  }
  
  .status-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;
    min-width: 0; /* needed for text-overflow to work inside flex */
  }
  
  .status-text .address,
  .status-text .date {
    margin: 0;
    line-height: 1.4;
  }
  
  .status-text .address {
    margin: 0;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 100%;
  }
  
  .status-text .date {
    color: gray;
    font-size: 0.9rem;
  }
  
  .status-dropdown-container {
    text-align: left;
    margin-bottom: 1.5rem;
  }
  
  .status-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: 100%;
  }
  
  .status-select {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    background-color: white;
    font-size: 1rem;
    appearance: none; /* Removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' stroke='%23333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8l4 4 4-4' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    cursor: pointer;
  }
  
  .status-dropdown {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }

  .status-buttons {
    display: flex;
    justify-content: flex-start; /* Align to left */
    gap: 0.5rem;
  }
  
  .status-confirm {
    background: green; /* red-600 */
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  .status-cancel {
    background: #6b7280; /* gray-500 */
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  .floating-modal-content {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    min-width: 300px;
    max-width: 60%;
    text-align: center;
    animation: popIn 0.3s ease;
  }
  
  .modal-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .modal-body {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #555;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .modal-confirm {
    background: #dc2626; /* red-600 */
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  .modal-cancel {
    background: #6b7280; /* gray-500 */
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  @keyframes popIn {
    0% {
      opacity: 0;
      transform: translateX(-50%) scale(0.8);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }
  }
  
  .sort-arrow {
    display: inline-block;
    width: 1em; /* Reserve space for arrow */
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .sort-arrow.visible {
    opacity: 1;
  }
  
  th.sortable {
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* Make room for the arrow */
    transition: background-color 0.2s ease;
  }
  

  
  th.sortable:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Light hover effect */
  }
  
th.sortable{
    background-color: transparent;
}

  .sort-arrow {
    position: absolute;
    right: 8px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .sort-arrow.visible {
    opacity: 1;
  }

/* details modal */

.details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    padding: 1rem;
}

.details-modal-content {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    flex-grow: 1;
    overflow: hidden; /* Prevents overflow if the content overflows */
}

.details-modal-content::after {
    content: "";
    flex-grow: 1; /* Ensures the content area grows to push the button to the bottom */
}

/* Image that takes up full width of the modal */
.details-image-large {
    width: 100%; /* Image takes up the entire width */
    height: 20rem; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the area without stretching */
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

/* Details Section */
/* General Modal Style */
.details-modal {
    position: fixed;
    top: 50%;  /* Centers the modal vertically */
    left: 50%;  /* Centers the modal horizontally */
    transform: translate(-50%, -50%); /* Offsets the position by 50% of its own width and height */
    z-index: 2000;
    padding: 1rem;
    max-width: 600px; /* Max width of modal */
    width: 100%; /* Ensures it is responsive */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

/* Modal Content Container */
.details-modal-content {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 90vh; /* Restricts max height of modal */
    overflow-y: auto; /* Allows scrolling if content overflows */
}

/* Image Style */
.details-image-large {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust the image size */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

/* Details Section Layout */
.details-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* Adds space between left and right sections */
    margin-bottom: 1.5rem;
    flex-wrap: wrap; /* Allows content to wrap on smaller screens */
}

/* Left Section */
.details-left {
    flex: 1;
    text-align: left;
    overflow: hidden; /* Ensures overflow text is hidden */
}

.details-left p {
    white-space: nowrap; /* Prevents wrapping for long address */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis for overflowing text */
    margin-bottom: 0.5rem;
}

/* Right Section */
.details-right {
    flex: 1;
    text-align: right;
    max-width: 50%; /* Restricts the right section width */
    overflow-wrap: break-word; /* Ensures text wraps properly */
}

.details-right p {
    margin-bottom: 0.5rem;
    white-space: normal; /* Allows wrapping */
}

/* Close Button */
.details-modal-confirm {
    background: Red;
    color: white;
    padding: 0.8rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: auto; /* Pushes the button to the bottom */
    text-transform: none !important;

}

/* Close Button Hover State */
.details-modal-confirm:hover {
    background: rgb(202, 0, 0);
}

/* Modal Animation */
@keyframes detailsPopIn {
    0% {
        opacity: 0;
        transform: translateX(50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.details-modal-content {
    animation: detailsPopIn 0.3s ease-in-out;
}

/* Floating selection info styling */
.floating-selection-info {
    position: fixed;
    bottom: 80px; /* Adjust the spacing as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f48c44;
    color: white;
    padding: 10px 20px;
    border-radius: 5000px;
    font-size: 16px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.3s ease-out;
    display: inline-flex;
    align-items: center;
}

.floating-selection-info p {
    margin: 0; /* Remove default margin */
}

.additional-text {
    margin-left: 30px; /* Adjust spacing between texts */
    font-weight: normal;
    cursor: pointer;
}

.repair-underway {
    background-color: rgba(255, 165, 0, 0.3); /* Orange, 30% opaque */
    color: #ff8c00; /* Solid orange text */
  }
  
  .awaiting-repair {
    background-color: rgba(255, 255, 0, 0.3); /* Yellow, 30% opaque */
    color: #b59b00; /* Solid dark yellow text */
  }
  
  .fixed {
    background-color: rgba(0, 128, 0, 0.3); /* Green, 30% opaque */
    color: #006400; /* Solid green text */
  }
  
  .no-status {
    background-color: rgba(200, 200, 200, 0.3); /* Light gray, 30% opaque */
    color: #555; /* Dark gray text */
    text-align: middle;

  }

  .status-span {
    padding: 5px 15px;
    display: inline-block;
    border-radius: 4px;
    text-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-radius: 5000px;
  }