

<!-- <nav *ngIf="loggedIn" class="top-nav"> -->

  <nav class="top-nav">
  <div class="nav-left">
    <ng-container *ngIf="showHomeLink; else justHome">
      <a (click)="goHome()" class="home-link">Home</a> <span class="arrow"> >    </span> <span>{{ breadcrumb }}</span>
    </ng-container>
    <ng-template #justHome>
      <span>Home</span>
    </ng-template>
  </div>


  <!-- alisin niyo na lang display none para lumabas yung logout button hahaha -->
  <div class="nav-right" style="display:none;">
  
  
    <span class="logout" (click)="logout()">Log Out</span>
  
    <!-- Dropdown Menu -->
    <div *ngIf="dropdownVisible" class="dropdown-menu">
      <ul>
        <li class="dropdown-item">
          <span class="primary-text">[prediction] Detected at [location]</span>
          <span class="secondary-text">[date]</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="content-wrapper">
  <router-outlet></router-outlet>
</main>
