<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

<main class="main">
    <div class="container">
      <div class="square-container">
        <div class="square1">
         <p style="font-size: 1.5rem">Last submitted damage was at <b>Daraga City</b></p>
         <p style="font-size: 1rem"></p>
        </div>
        <div class="map_view" id="map"></div>
      </div>
      <div class="map_view-container">
        <div class="square-row">
          <div class="square2">
            Unique Users: {{ uniqueUserCount }}
          </div>
          <div class="square3">
            square 3
          </div>  
        </div>
        <div class="table_view">  
          <div class="logs-header">
            <h2 class="logs-title">Logs</h2>
            <span class="logs-count">{{ getRowCount() }} total</span>
          </div>
          <p class="logs-description">
            View all detected road damages
          </p>          
          <div class="search-container">
            <input type="text" placeholder="Search logs..." class="search-bar" />
            <select class="log-filter" [(ngModel)]="selectedSort" (change)="sortTableData()">
              <option value="" disabled selected>Sort by</option>
              <option value="confidence">Confidence</option>
              <option value="date">Date</option>
              <option value="prediction">Prediction</option>
            </select>            
          </div>
          
          <div class="logs-table-wrapper">
            <table class="logs-table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Confidence</th>
                  <th>Date</th>
                  <th>Location</th>
                  <th>Prediction</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableData" (click)="showLocationOnMap(item)" class="clickable-row">
                  <td><img [src]="item.image" alt="Item Image" class="image-small-rounded" /></td>
                  <td>{{ item.confidence }}</td>
                  <td>{{ item.readableDate | date:'medium' }}</td>
                  <td>{{ formatLocation(item.location) }}</td>
                  <td>{{ item.prediction }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</main>